ipykernel
matplotlib
pandas
jupyterlab
jupyterlab-git
jupyterlab-spellchecker
scikit-learn>=1.5.1
requests
ipython
graphviz
jinja2
lightgbm
torchvision
torchaudio
torch
autograd
plotly
wikipedia
spacy
nltk
mglearn
nbformat
nbclient
transformers
datasets
ultralytics
psutil>=5.7.2
numpy
linkify
linkify-it-py
panel
watchfiles
holoviews
bokeh
ipywidgets
jupyter-book
jupytext
